body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Atma", system-ui;
}
.atma-regular {
  font-family: "Atma", system-ui;
  font-weight: 400;
  font-style: normal;
}
h1 {
    color: black;
    font-size: 100px;
    text-align: center;
}
h2{
    text-align: center;
    font-size: 50px
}
.apple{
    transform: translate(42%, 25%)
}
.apple1{
    transform: rotate(63deg);
}
.apple2{
    transform: rotate(126deg);
}
.leaf{
    transform: rotate(25deg);
}