body {
    background-image: url(background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: "Atma", system-ui;
}
.atma-regular {
    font-family: "Atma", system-ui;
    font-weight: 400;
    font-style: normal;
}
h1 {
    color: black;
    font-size: 100px;
    text-align: center;
}
h2 {
    text-align: center;
    font-size: 50px;
}
.links {
    position: relative;
    display: flex;
    justify-content: space-around;
    margin-bottom: 5%;
}
.orange{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}
.stem{
    transform: translate(-10px, 84px) rotate(-7deg)
}
.leaf{
    transform: translate(138px, 44px) rotate(55deg)
}