body {
    margin: 0;
    background-image: url("classroom.webp");
    background-size: cover;
    background-repeat: no-repeat;
}
.slackey-regular {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
}
h1 {
    text-align: center;
    font-family: Slackey;
    color: #2389da;
    font-size: 100px;
}

.links {
    position: absolute;
    margin-left: 75%;
    text-align: center;
    font-family: Slackey;
}
.box1 {
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 40% 20%;
    margin-bottom: 20px;
    padding: 10px;
}
.box2 {
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 40% 20%;
    margin-top: 20px;
    padding: 10px;
}
.box3 {
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 40% 20%;
    margin-top: 20px;
    padding: 10px;
}

.container {
    position: absolute;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
}
.bowl {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    animation: move 8s infinite;
}
@keyframes move {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(-20deg);
    }
    67% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0);
    }
}
.bowl:after {
    content: "";
    position: absolute;
    width: 184px;
    height: 26px;
    border-radius: 50%;
    background: white;
    border: 2px solid black;
    left: 50%;
    top: -4px;
    transform: translatex(-50%);
    z-index: 100;
}
.water {
    height: 290px;
    width: 290px;
    background: linear-gradient(to bottom, transparent 0% 50%, #2389da 50% 100%);
    border-radius: 50%;
    position: absolute;
    top: 7px;
    left: 7px;
    animation: move1 8s infinite;
    z-index: -100;
}
@keyframes move1 {
    0% {
        transform: rotate(0);
    }
    33% {
        transform: rotate(20deg);
    }
    67% {
        transform: rotate(-20deg);
    }
    100% {
        transform: rotate(0);
    }
}
.water:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 30px;
    background: #0f5e9c;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.body {
    width: 70px;
    height: 36px;
    background: orange;
    border-radius: 40% 50% 50% 40%;
    bottom: 50px;
    right: 70px;
    position: absolute;
}
.fin {
    width: 40px;
    height: 24px;
    position: absolute;
    background: #ef8a1f;
    border-radius: 50%;
}
.fin.top {
    z-index: -100;
    transform: rotate(-20deg);
    left: 14px;
    bottom: 24px;
    border-radius: 50% 50% 0% 0%;
}
.fin.bottom {
    z-index: -100;
    transform: rotate(20deg);
    left: 14px;
    bottom: -12px;
    border-radius: 50% 0% 50% 50%;
}
.fin-center {
    height: 10px;
    width: 12px;
    background: #ef8a1f;
    border-radius: 50% 0 0 50%;
    position: absolute;
    left: 30px;
    top: 12px;
}
.eye {
    height: 16px;
    width: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 10px;
}
.eye:before {
    content: "";
    background: black;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 4px;
}
.eye:after {
    content: "";
    background: white;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 5px;
}
.tail {
    width: 32px;
    height: 72px;
    position: absolute;
    right: -20px;
    bottom: -42px;
    z-index: -200;
}
.tail::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 20px;
    border-radius: 50%;
    background: #ef8a1f;
    transform: rotate(-30deg);
    top: -10px;
}
.tail::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 20px;
    border-radius: 50%;
    background: #ef8a1f;
    transform: rotate(30deg);
    top: 10px;
}

.body2 {
    width: 70px;
    height: 46px;
    background: #1e00ff;
    border-radius: 40% 50% 50% 40%;
    bottom: 62px;
    right: 179px;
    position: absolute;
}
.fin2 {
    width: 40px;
    height: 24px;
    position: absolute;
    background: #d6ef1f;
    border-radius: 50%;
}
.fin.top2 {
    z-index: -100;
    background: #d6ef1f;
    transform: rotate(-20deg);
    left: 14px;
    bottom: 24px;
    border-radius: 50% 50% 0% 0%;
}
.fin.bottom2 {
    z-index: -100;
    background: #d6ef1f;
    transform: rotate(20deg);
    left: 14px;
    bottom: -4px;
    border-radius: 50% 0% 50% 50%;
}
.fin-center2 {
    height: 10px;
    width: 12px;
    background: #d6ef1f;
    border-radius: 50% 0 0 50%;
    position: absolute;
    left: 30px;
    top: 12px;
}
.eye2 {
    height: 16px;
    width: 16px;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 10px;
}
.eye2:before {
    content: "";
    background: black;
    height: 8px;
    width: 8px;
    border-radius: 50%;
    position: absolute;
    left: 2px;
    top: 4px;
}
.eye2:after {
    content: "";
    background: white;
    height: 4px;
    width: 4px;
    border-radius: 50%;
    position: absolute;
    left: 4px;
    top: 5px;
}
.tail2 {
    width: 32px;
    height: 72px;
    position: absolute;
    right: -20px;
    bottom: -42px;
    z-index: -200;
}
.tail2::before {
    content: "";
    position: absolute;
    width: 32px;
    height: 20px;
    border-radius: 50%;
    background: #d6ef1f;
    transform: rotate(-30deg);
    top: -10px;
}
.tail2::after {
    content: "";
    position: absolute;
    width: 32px;
    height: 20px;
    border-radius: 50%;
    background: #d6ef1f;
    transform: rotate(30deg);
    top: 10px;
}
