body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
    overflow: hidden;
}
.slackey-regular {
    font-family: "Slackey", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.links {
    position: absolute;
    margin-left: 75%;
    text-align: center;
    font-family: Slackey;
}
.box1 {
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 40% 20%;
    margin-bottom: 20px;
    padding: 10px;
}
.box2 {
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 40% 20%;
    margin-top: 20px;
    padding: 10px;
}
.box3 {
    background-color: lightblue;
    border: 2px solid orange;
    border-radius: 40% 20%;
    margin-top: 20px;
    padding: 10px;
}
.scene {
    perspective: 800px;
}
.cube {
    position: relative;
    width: 100px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
}
.cube:hover div {
    box-shadow: 0 0 40px green;
}
.front {
    width: 0;
    height: 0;
    position: absolute;
    border: 50px solid transparent;
    border-bottom: 110px solid #0d450d;
    box-shadow: 0 0 0 0 20px green;
    border-top: 0px;
    transform: translateZ(52px);
}
.back {
    width: 0;
    height: 0;
    position: absolute;
    border: 50px solid transparent;
    border-bottom: 110px solid #0d450d;
    box-shadow: 0 0 0 0 20px green;
    border-top: 0px;
    transform: rotateY(180deg) translateZ(50px);
}
.left {
    position: absolute;
    width: 100px;
    height: 115px;
    background: #0d450d;
    border: 2px solid green;
    box-shadow: 0 0 20px green;
    transition: 0.3s;

    transform: rotateY(-90deg) rotateX(25deg) translateY(6px) translateZ(24px);
}
.right {
    position: absolute;
    width: 100px;
    height: 115px;
    background: #0d450d;
    border: 2px solid green;
    box-shadow: 0 0 20px green;
    transition: 0.3s;

    transform: rotateY(90deg) rotateX(25deg) translateY(6px) translateZ(24px);
}
.bottom {
    position: absolute;
    width: 100px;
    height: 100px;
    background: #0d450d;
    border: 2px solid green;
    box-shadow: 0 0 20px green;
    transition: 0.3s;

    transform: rotateX(-90deg) translateZ(57px);
}
@keyframes rotate {
    0% {
        transform: rotateX(0) rotateY(0);
    }
    100% {
        transform: rotateX(360deg) rotateY(360deg);
    }
}
.pentagon {
    position: relative;
    width: 100px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
    left: -300px;
}
.pentagon:hover div {
    box-shadow: 0 0 40px lightblue;
}
.side1 {
    position: relative;
    width: 54px;
    box-sizing: content-box;
    border-width: 50px 18px 0;
    border-style: solid;
    border-color: lightblue transparent;
    transform: rotateY(180deg) rotateX(0deg) translateY(0px) translateZ(90px);
}
.side1:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    top: -85px;
    left: -18px;
    border-width: 0 45px 35px;
    border-style: solid;
    border-color: transparent transparent lightblue;
}
.arrow {
    width: 100px;
    transform-style: preserve-3d;
    animation: rotate 5s infinite linear;
    animation-name: arrowrotate;
    height: 407px;
}
.arrow:hover div {
    box-shadow: 0 0 40px lightblue;
}
.arrow1 {
    position: relative;
    width: 0;
    height: 0;
    border-top: 27px solid transparent;
    border-right: 27px solid red;
    transform: rotate(180deg) rotateX(90deg);
}
.arrow1:after {
    content: "";
    position: absolute;
    border: 0 solid transparent;
    border-top: 9px solid red;
    border-radius: 60px 0 0 0;
    top: -29px;
    left: 16px;
    width: 48px;
    height: 48px;
    transform: rotate(45deg);
}
@keyframes arrowrotate {
    0% {
        transform: rotateX(0) rotateZ(0);
    }
    100% {
        transform: rotateX(360deg) rotateZ(360deg);
    }
}
