#wheel {
    border: 5px black solid;
    width: 300px;
    height: 300px;
    border-radius: 108%;
    background-color: black
}
.cabin {
    width: 48px;
    height: 100px;
    top: 100px;
    transform-origin: 300% center;
    position: relative;
    animation: rotate 8s linear infinite;
}
.cabin:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: darkseagreen;
    /*  animation: rotate 8s linear reverse infinite; */
}
@keyframes rotate {
    100% {
        transform: rotate(-360deg);
    }
}

